<!DOCTYPE html>
<body>
    <nav class="nav flex-column side-remote text-center">
        리모컨
        <a class="mb-1 nav-link btn" style="color: black;" href="/main/food/">음식 등록</a>
        <a class="mb-1 nav-link btn" style="color: black" href="/main/health/">운동 하기</a>
        <a class="mb-1 nav-link btn" style="color: black" href="/main/">메인 화면</a>
        <div class="d-grid gap-2 d-md-block">
            <button class="btn"  type="button" style="margin-right: 1px;" onclick="window.scrollTo(0,0)">
                <i class="bi bi-arrow-up"></i>
            </button>
            <button class="btn" type="button" onclick="window.scrollTo(0, document.body.scrollHeight)">
                <i class="bi bi-arrow-down"></i>
            </button>
        </div>
    </nav>
</body>