<!DOCTYPE html>
<meta charset="UTF-8">
<header class="navbar fixed-top navbar-expand-md color-teal">
    <nav class="container-xxl flex-wrap flex-md-nowrap"  aria-label="navigation">
        <ul class="nav">
            <li class="nav-item">
                {% if session['age'] is undefined %}
                    <a class="nav-link active" href="/" style="padding-top: 0px;padding-bottom: 0px;">
                        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="logo" width="60" height="60">
                    </a>
                {% elif session['age'] is defined %}
                    <a class="nav-link active" href="/main/" style="padding-top: 0px;padding-bottom: 0px;">
                        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="logo" width="60" height="60">
                    </a>
                {% endif %}
            </li>
        </ul>
        <span id="logo" class="fs-4">Caloric Maniac</span>
        <div class="collapse navbar-collapse nav justify-content-end">
            <ul class="nav justify-content-end">
                {% if session['user'] is defined %}
                    <li class="nav-item">
                        <div class="session_info">
                            성별: {{ session['gender'] }}
                            나이: {{ session['age'] }}<br>
                            키: {{ session['height'] }}
                            몸무게: {{ session['weight'] }}
                        </div>
                    </li>
                    <li class="nav-item">
<!--                        <div class="inline">-->
<!--                            <button type="button" class="btn btn-success" style="background-color: #79dfc1">연장</button>-->
<!--                        </div>-->
                    </li>
                    <li class="nav-item">
                        <a class="nav-link color-gray-text fs-4" href="/main/delete_user">다시 설정</a>
                    </li>
                {% endif %}
            </ul>

        </div>
    </nav>
</header>