<!DOCTYPE html>
<meta charset="UTF-8">
<header class="navbar fixed-top navbar-expand-md color-teal">
    <nav class="container-xxl flex-wrap flex-md-nowrap"  aria-label="navigation">
        <ul class="nav">
            <li class="nav-item">
                {% if session['age'] is undefined %}
                    <a class="nav-link active" href="/" style="padding-top: 0px;padding-bottom: 0px;">
                        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="logo" width="60" height="60">
                    </a>
                {% elif session['age'] is defined %}
                    <a class="nav-link active" href="/main/" style="padding-top: 0px;padding-bottom: 0px;">
                        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="logo" width="60" height="60">
                    </a>
                {% endif %}
            </li>
        </ul>
        <span id="logo" class="fs-4">Caloric Maniac</span>
        <div class="collapse navbar-collapse nav justify-content-end">
            <ul class="nav justify-content-end">
                {% if session['age'] is defined %}
                    <li class="nav-item">
{#                        <a class="nav-link color-gray-text fs-4" onclick="">뒤로 가기</a>#}
                    </li>
                    <li class="nav-item">
                        <a class="nav-link color-gray-text fs-4" href="/">다시 설정</a>
                    </li>
                {% endif %}
            </ul>

        </div>
    </nav>
</header>